*{
    
}
.center{
    text-align: center;
}
.center-top{
    text-align: center;
    margin-top:2em;
}
.wrapper{
    display: grid;
    place-items: center;
    margin-top: 20vh;
}
.center-button{
    margin:auto
}

.flex-row{
    display: flex;
    flex-direction: row;
    gap: 6em;
}

.singUpLink{
    text-decoration: none !important;
}
.singUpLink:hover{
    color: black;
    transform: scale(1.05);   
}